@import "tailwindcss";

:root {
  --background: #f0f2f2;
  --foreground: #171717;
  --bla: #0d1671;
  --lys-bla: #f0f2f2;
  --mellombla: #7d9fd7;
  --gul: #aba461;
  --rosa: #f4d1c0;
  --burgunder: #400116;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bla: var(--bla);
  --color-lys-bla: var(--lys-bla);
  --color-mellombla: var(--mellombla);
  --color-gul: var(--gul);
  --color-rosa: var(--rosa);
  --color-burgunder: var(--burgunder);
  --font-sans: "indivisible", sans-serif;
  --font-serif: "plantin", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "indivisible", sans-serif;
}
